{% extends "base/base.html" %}
{% block title %} список локаций
{% endblock %}
{% block content %}
      <h2>Чек всех локаций</h2>
      <form method = 'get'>
          <h2>start</h2>
        <input type="date" class="form-control" name = 'start_date'>
          <h2>end</h2>
        <input type="date" class="form-control" name = 'end_date'>
          <h2>Опубликовать</h2>
        <button type = 'submit' class="btn btn-dark">wait</button>
      </form>
        <h2>Список локаций</h2>
        {% for location in locations %}
        {{ location.title }}{% if not forloop.last %}, {% endif %}
        {% endfor %}

{% endblock %}
