{% extends "base/base.html" %}
{% block title %} список локаций
{% endblock %}
{% block content %}

      <div class="row">
      <div class="col-lg-6">
        <h2 class="text-center">Choose date</h2>
        <form method="get">
          <div class="row">
            <div class="col-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">start date</span>
                <input type="date" class="form-control" name="start_date">
              </div>
            </div>
            <div class="col-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">end date</span>
                <input type="date" class="form-control" name="end_date">
              </div>
            </div>
            <div class="col-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">max_cost</span>
                <input type="number" class="form-control" name="max_cost">
              </div>
            </div>
            <div class="col-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon4">min_cost</span>
                <input type="number" class="form-control" name="min_cost">
              </div>
            </div>
            <div class="col-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon5">max_capacity</span>
                <input type="number" class="form-control" name="max_capacity">
              </div>
            </div>
            <div class="col-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon6">min_capacity</span>
                <input type="number" class="form-control" name="min_capacity">
              </div>
            </div>
          </div>


        <div style="text-align: center;">
          <button class="btn btn-secondary">Опубликовать</button>
        </div>
      </form>
      </div>
      <div class="col-lg-6">
          <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for location in locations %}
          <div class="col">
            <a href="{% url 'booking:detail_location' location.pk %}" class="text-decoration-none">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ location.title }}</h5>
                  <p class="card-text">{{ location.description }}</p>
                </div>
              </div>
            </a>
            </div>





        {% endfor %}
        </div>
      </div>
      </div>

{% endblock %}