{% extends "base/base.html" %}
{% block title %} детали локаций
{% endblock %}




{% block content %}
<div class="row">
<div class="col-lg-12">
  <div class="card mx-auto", style="width: 18rem; ">
    <div class="card-body">
      <h2 class="mb-3">{{ location.title }}</h2>
      <h4>Description:</h4>
      <p class="card-text fs-5">{{ location.description }}</p>
      <h4>Capacity:</h4>
      <p class="text-start fs-5">{{ location.capacity }}</p>
      <h4>Cost:</h4>
      <p class="text-start fs-5">{{ location.cost }}</p>
      <button class="btn btn-secondary">Buy</button>
    </div>
  </div>
</div>
</div>

{% endblock %}