{% extends "base/base.html" %}
{% block title %} детали локаций
{% endblock %}




{% block content %}
<div class="row">
<div class="col-lg-12">
  <div class="card mx-auto", style="width: 18rem; margin-top: 150px">
    <div class="card-body">
      <h2 class="mb-3">{{ location.title }}</h2>
      <h4>Description:</h4>
      <p class="card-text fs-5">{{ location.description }}</p>
      <h4>Capacity:</h4>
      <p class="text-start fs-5">{{ location.capacity }}</p>
      <h4>Cost:</h4>
      <p class="text-start fs-5">{{ location.cost }}</p>
      <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Book</button>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Booking</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">username</span>
                <input type="text" class="form-control" value="{{user.username}}" readonly>
              </div>
            </div>
            <div class="col-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">name</span>
                <input type="text" class="form-control" name="first_name" value="{{user.first_name}}">
              </div>
            </div>
            <div class="col-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">last name</span>
                <input type="text" class="form-control" name="last_name" value="{{user.last_name}}">
              </div>
            </div>
            <div class="col-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon6">email</span>
                <input type="email" class="form-control" value="{{user.email}}" name="email">
              </div>
            </div>
            <div class="col-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon4">start date</span>
                <input type="date" class="form-control" name="start_date">
              </div>
            </div>
            <div class="col-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon5">end date</span>
                <input type="date" class="form-control" name="end_date">
              </div>
            </div>
          </div>

          <div style="text-align: center;">
            <button class="btn btn-secondary">Book</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}